 html
  head
    title Dance Academy
  block scripts
  block style
     
  body
    nav#navbar
        ul  
            div#logo
              img(src="../static/logo.png ")
              
            li #[a(href="/") Home ] 
            li #[a(href="/") About]
            li #[a(href="/") services]
            li #[a(href="/") Class-info]
            li #[a(href="/") contact]  

    block content
    footer#footer
        img(src="../static/logo.png ")
        |Thank You For Visite
        div
          hr
        div.copy
        | © Copyright 2020 - Dance Academy