extends base.pug

block scripts
  script(src='/static/index.js')
  
block style
    style
      include ../static/style.css
block content
    
    section#introsection 
        div.head Welcome To Dance Academy         
        div.small A Moments of Getting Vibe.
      
        div.mission
          h2 Our Mission
          div#beginner.card
            h3 Beginner
          div#intermedite.card
            h3 Intermedite
          div#expert.card
            h3 Experts
    section#sponsorsection    
        h2 Our Sponsore
        div#sponser
          img(src="../static/logo1.png", Class="spimg")
          img(src="../static/logo2.png", Class="spimg")
          img(src="../static/logo3.png", Class="spimg")
          img(src="../static/logo4.png", Class="spimg")

